<footer class="page-footer grey darken-2">
  	<div class="container">
    	<div class="row">
      		<div class="col l6 s6">
        		<h5 class="white-text">Wesley L. Handy</h5>
        		<p class="tag-line">Full Stack Web Developer</p>
            <p class="tag-line">(C) 862-239-5937</p>
            <p class="tag-line">Greater NYC Area</p>
      		</div>
      		<div class="col l4 offset-l2 s6">
        		<h5 class="white-text">Links</h5>
        		<ul>
                <li><a class="grey-text text-lighten-3" href="https://www.linkedin.com/in/wesleylhandy/" target="_blank">LinkedIn</a></li>
          			<li><a class="grey-text text-lighten-3" href="https://github.com/wesleylhandy" target="_blank">Github</a></li>
                <li><a class='grey-text text-lighten-3' href="https://www.wesleylhandy.net" target="_blank">www.wesleylhandy.net</a></li>
        		</ul>
      		</div>
    	</div>
  	</div>
  	<div class="footer-copyright">
    	<div class="container">
    		<i class="fa fa-copyright" aria-hidden="true"></i><span id="year"></span> Copyright Wesley L. Handy
    	</div>
  	</div>
</footer>