<!-- Modal Structure -->
{{!-- <div id="scrape-notification" class="modal">
	<div class="modal-content">
	  	<h4><span id='num-scraped'></span>&nbsp;articles scraped</h4>
	</div>
</div>


<script type="text/javascript">
	



</script> --}}