<div class="navbar-fixed">
  <nav class="grey darken-2">
    <div class="nav-wrapper">
      <ul class="left">
      	<li class='active'><a href="/">Global Affairs&nbsp;<i class="fa fa-globe" aria-hidden="true"></i></a></li>
      	<li><a href="/articles">Articles&nbsp;<i class="fa fa-newspaper-o" aria-hidden="true"></i></a></li>
        <li><a href="/favorites">Favorites&nbsp;<i class="fa fa-heart-o" aria-hidden="true"></i></a></li>
        <li><a id="scrape" class="waves-effect waves-light btn grey darken-4">Scrape New Articles</a></li>
      </ul>
    </div>
  </nav>
</div>

<script type="text/javascript">
	
	$('#scrape').click(function(){

		$.get("/scrape").done((response)=>{
			if(response) {
				Materialize.toast(`You scraped ${response} articles.`, 3000, 'rounded', function(){
					window.location.href = "/articles";
				});
			} else {
				Materialize.toast(`No New Articles to Scrape`, 3000, 'rounded', function(){
					window.location.href = "/articles";
				});
			}
		})

	});

</script>