<main id='main-intro' class='col s12'>
	<img class="responsive-img" src="assets/images/pexels-world-news.jpeg">

	<div id="main-title" class='white-text'>
		<center>
			<div id='main-title-background'>
				<h1>Global Affairs</h1>
				<h5>Scraping news of global import</h5>
			</div>
		</center>
	</div>

</main>