
body { 
  background-color: #F2F6D0;
  position: relative;
}

#spinner {
  position: absolute;
  top: 120px;
  width: 30%;
  left: 35%;
  z-index: 2;
}

#main-intro {
  position: relative;
  background: url('../images/pexels-world-news.jpeg');
  background-size: cover;
  background-position: center;
  height: 100vh;
}

#main-title {

  position: absolute;
  top: 12.5%;
  width: 60%;
  margin-left: 20%;

}

#main-title-background {
  padding: 50px;
  border: 2px solid #9e9e9e;
  border-radius: 50px;
  background-color: rgba(158, 158, 158, 0.75);
}

.card {
  width: 100%;
  overflow-x: auto;
}

.article-content, .favorite-content, .note-content {
  width: 80%;
}

.card-stacked{
  text-align: center;
  float: right;
}

.upvote, .downvote, .favorite, .delete, .view-notes {
  margin-left: 1em;
}

.upvote:hover, .downvote:hover, .favorite:hover, .delete:hover, .view-notes:hover {
  margin-left: 1em;
  text-shadow: 1px 2px 3px rgba(0, 0, 0, .5);
}

.headline:hover {
  text-shadow: 1px 2px 3px rgba(0, 0, 0, .5);
  text-decoration: underline; 
}

.delete-note:hover, .hide-note:hover, .view-note:hover {
  text-shadow: 1px 2px 3px rgba(0, 0, 0, .5);
}


.delete, .view-chip {
  text-align: center;
}

.view-note, .hide-note, .delete-note {
  float: right;

}

footer.page-footer {
  margin-top: 0;
}

.col.s12 {
  margin-bottom: 0;
}

@media screen and (max-width: 500px) {

  #main-title {

    position: absolute;
    top: 20%;
    width: 95%;
    margin-left: 2.5%;

  }

  #main-title-background {
    padding: 10px;
    border: 2px solid #9e9e9e;

  }

}
