body { 
  background-color: #F2F6D0 
}

#main-intro {
  position: relative;
}

#main-title {

  position: absolute;
  top: 12.5%;
  width: 60%;
  margin-left: 20%;

}

#main-title-background {
  padding: 50px;
  border: 2px solid #9e9e9e;
  border-radius: 50px;
  background-color: rgba(158, 158, 158, 0.75);
}

.article-content, .favorite-content, .note-content {
  width: 80%;
}

.card-stacked{
  text-align: center;
  float: right;
}

.upvote, .downvote, .favorite {
  margin-left: 1em;
}

.delete-chip, .view-chip {
  text-align: center;
  padding-right: 0;
}

.view-note, .hide-note, .delete-note {
  float: right;

}

footer.page-footer {
  margin-top: 0;
}

.col.s12 {
  margin-bottom: 0;
}